@{
    ViewData["Title"] = "Info Page";
}

<table border="1" cellpadding="10" style="border-collapse: collapse;">
    <tr>
        <th>Номер роботи</th>
        <td>@ViewData["LabNumber"]</td>
    </tr>
    <tr>
        <th>Тема</th>
        <td>@ViewData["Topic"]</td>
    </tr>
    <tr>
        <th>Мета</th>
        <td>@ViewData["Goal"]</td>
    </tr>
    <tr>
        <th>Виконавець</th>
        <td>@ViewData["Name"]</td>
    </tr>
</table>