@model Microsoft.AspNetCore.Identity.IdentityUser
@{
    ViewData["Title"] = "Особистий кабінет";
}

<div class="container mt-5" style="max-width: 700px;">
    <div class="card shadow-lg border-0" style="border-radius: 16px;">
        <div class="card-header text-white"
             style="background: linear-gradient(90deg, #1e3a8a, #3b82f6); border-radius: 16px 16px 0 0;">
            <h4 class="my-2">Особистий кабінет</h4>
        </div>

        <div class="card-body">

            <table class="table table-bordered table-hover">
                <tr>
                    <th>Email</th>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <th>Ім'я користувача</th>
                    <td>@Model.UserName</td>
                </tr>
                <tr>
                    <th>ID</th>
                    <td>@Model.Id</td>
                </tr>
            </table>

            <a asp-action="Logout" class="btn btn-danger mt-2">Вийти</a>
        </div>
    </div>
</div>
